$primary-bg: #070826;
$primary-text: #fff;
$primary-heading: #ffb501;
$primary-heading-hover: #ffb701a6;
$primary-btn: #1b1464;
$primary-btn-hover: #1b1464a0;
$primary-text-hover: rgba(255, 255, 255, 0.57);
