@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Chillax-Regular";
  src: url("../public/fonts/Chillax-Regular.woff2") format("woff2"),
    url("../public/fonts/Chillax-Regular.woff") format("woff"),
    url("../public/fonts/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Medium";
  src: url("../public/fonts/Chillax-Medium.woff2") format("woff2"),
    url("../public/fonts/Chillax-Medium.woff") format("woff"),
    url("../public/fonts/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Semibold";
  src: url("../public/fonts/Chillax-Semibold.woff2") format("woff2"),
    url("../public/fonts/Chillax-Semibold.woff") format("woff"),
    url("../public/fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Bold";
  src: url("../public/fonts/Chillax-Bold.woff2") format("woff2"),
    url("../public/fonts/Chillax-Bold.woff") format("woff"),
    url("../public/fonts/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
