@use "mixins";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Chillax-Regular";
  src: url("../public/fonts/Chillax-Regular.woff2") format("woff2"),
    url("../public/fonts/Chillax-Regular.woff") format("woff"),
    url("../public/fonts/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Medium";
  src: url("../public/fonts/Chillax-Medium.woff2") format("woff2"),
    url("../public/fonts/Chillax-Medium.woff") format("woff"),
    url("../public/fonts/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Semibold";
  src: url("../public/fonts/Chillax-Semibold.woff2") format("woff2"),
    url("../public/fonts/Chillax-Semibold.woff") format("woff"),
    url("../public/fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Chillax-Bold";
  src: url("../public/fonts/Chillax-Bold.woff2") format("woff2"),
    url("../public/fonts/Chillax-Bold.woff") format("woff"),
    url("../public/fonts/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.header_section {
  background: $primary-bg;
  .logo {
    width: 46px;
    height: 65px;
    background-image: url("../public/logo_white.svg");
    background-size: contain;
  }
  div.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .half {
      width: 50%;
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
    }
    .half:first-child {
      p {
        font-size: 20px;
        color: $primary-text;
      }
    }
  }
}
a {
  text-decoration: none;
}
.btn {
  background: $primary-btn;
  color: $primary-text;
  padding: 10px 30px;
  border-radius: 15px;
  width: max-content;
  transition: 1s;
  &:hover {
    background: $primary-btn-hover;
  }
}
section {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.nav-links {
  width: 60%;
  a {
    color: $primary-text-hover;
    font-size: 18px;
    font-family: "Chillax-Regular", sans-serif;
    padding: 0 20px;
    text-transform: uppercase;
    transition: 1s;
    &:hover {
      color: $primary-text;
    }
  }
}

.justify-content {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
.red {
  color: black;
  background: red;
}
h1 {
  font-family: "Chillax-Semibold", sans-serif;
  font-size: 48px;
  color: $primary-heading;
}
