@use "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Chillax Medium", "Inter", sans-serif;
}

.header_section {
  background: $primary-bg;
  .logo {
    width: 46px;
    height: 65px;
    background-image: url("../public/logo_white.svg");
    background-size: contain;
  }
}
a {
  text-decoration: none;
  color: $primary-text;
}
.btn {
  background: $primary-bg;
  color: $primary-text;
  padding: 10px 20px;
  border: 2px solid $primary-text;
  &:hover {
    background: $primary-text;
    color: $primary-bg;
  }
}
section {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-content {
  justify-content: space-between;
}
